// Cambiar tema:
@import "ejercicio2_tema_a";
// @import "ejercicio2_tema_b";

#ejercicio1-2>div {
    display: inline-block; 
    $base1: $tema_base1;
    $base2: $tema_base2;
    $base3: $tema_base3;

    .box {
        float: left;
        margin: 5px;
        padding: 40px 20px; 
        color: $tema_color-text;
        font-family: $tema_fuente;
        box-shadow: $tema_sombra;
        border-radius: 5px;
    } 

    @for $i from 1 through 3 {
        $base-color: black;
        @if $i == 1 {
            $base-color: $base1;
        }
        @if $i == 2 {
            $base-color: $base2;
        }
        @if $i == 3 {
            $base-color: $base3;
        }
        &.container-#{$i} {            
            & .base-color {
                background-color: $base-color;
            }
            & .darken-4 {
                background-color: darken($base-color, 20%);
            } 
            & .darken-3 {
                background-color: darken($base-color, 15%);
            } 
            & .darken-2 {
                background-color: darken($base-color, 10%);
            } 
            & .darken-1 {
                background-color: darken($base-color, 5%);
            } 
            & .lighten-4 {
                background-color: lighten($base-color, 20%);
            } 
            & .lighten-3 {
                background-color: lighten($base-color, 15%);
            } 
            & .lighten-2 {
                background-color: lighten($base-color, 10%);
            } 
            & .lighten-1 {
                background-color: lighten($base-color, 5%);
            } 
        }
    }
}



