nav {
    padding: 1em;

    ul {
        $base-color: darkcyan;
        width: 100%;
        background: $base-color;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & li a {
            color: white;
            display: block;
            text-decoration: none;
            padding: .5em 1em;

            &:hover {
                background: darken($base-color, 5%);
            }
        }

        @media screen and (max-width: 800px) {
            display: block;
            text-align: center;
        }
    }
}