.grid { 
    display: grid;
    $primary-color: green;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    & > div {
        border: 1px solid #ccc;
        box-shadow: 3px 3px 6px 0px  rgba(0,0,0,0.3);

        & > img {
            max-width: 100%;
        }

        & > .text {
            padding: 0 20px 20px;
            font-family: verdana;
            text-align: justify;
            text-justify: inter-word;

            & > .published {
                margin: 30px 0 15px;
                float: right;

                & > span {
                    color: $primary-color;
                }
            }

            & > button {
                background: $primary-color;
                border: 0;
                color: white;
                padding: 13px;
                width: 100%;
                font-size: 1em;
            }
        }
    }
}

